.blogPage{
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a c"
    ;
    gap: 2rem;
    margin: 0 1rem;
}


.blogPage .boxGrid:nth-child(1){
    grid-area: a;

}

.blogPage .boxGrid:nth-child(2){
    grid-area: b;
    
}

.blogPage .boxGrid:nth-child(3){
    grid-area: c;
    
}
.textoBlog h3{
    color: #ffffff;
}
.textoBlog{
   position: absolute;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
}
.imagesBlogBack{
    position: relative;
    background: url(../public/blog/estudante-afro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}
.imagesBlogBack2{
    position: relative;
    background: url(../public/blog/crianca-estuda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
}
.imagesBlogBack3{
    position: relative;
    background: url(../public/blog/jovem-negro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
}

.Blogau{
    display: grid;
    grid-template-areas:
    "a b"
    "a c"
    ;
    gap: 1rem;
}

.Blogau .boxCompo:nth-child(1){
    grid-area: a;

}
.Blogau .boxCompo:nth-child(2){
    grid-area: b;
}
.Blogau .boxCompo:nth-child(3){
    grid-area: c;
}
@media (max-width:934px){
    .blogPage{
        grid-template-areas: 
        "a a"
        "b c"
        ;
        gap: 2rem;
    }
}

@media (max-width:700px){
    .Blogau{

        grid-template-areas:
        "a a"
        "b c"
        ;
        gap: 1rem;
    }
}

@media (max-width:500px){
    .blogPage{
        grid-template-areas: 
        "a"
        "b"
        "c"
        ;
        gap: 2rem;
    }
    .imagesBlogBack{
        height: 20rem;
    }


}